// Fonts
$font-base: "Source Sans Pro", sans-serif, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

$font-light: "300";
$font-regular: "400";
$font-bold: "700";

// Colors
$color-white: #fff;
$color-white-eee: #eee;
$color-grey-333: #333;
$color-grey-282: #282c34;
$color-grey-666: #666;
$color-grey-555: #555;
$color-grey-999: #999;
$color-grey-b3b: #b3b3b3;
$color-grey-ede: #ededed;
$color-blue: #055be6;
$color-green: #03bb03fd;
$color-orange: #e67700;

//Plans
$color-subscrition: $color-orange;
$color-plan-trial: $color-green;
$color-plan-professional: $color-orange;
$color-plan-premium: #3946f9;
$color-plan-starter: #b082f5;
$color-plan-plus: #8739f9;
$color-plan-enterprise: #6403f5;

// Assets
$color-scroll-corner: rgba(0, 0, 0, 0.5);

//General
$color-box-shadow: rgba(0, 0, 0, 0.15);
