li.app-item {
  grid-column: span 1;
  min-height: 160px;
  border-radius: 6px !important;
  border: 1px solid $color-grey-b3b;
  padding: 10px;
  list-style: none;
  overflow: hidden;
  &:hover {
    box-shadow: 0 1px 8px 0 $color-box-shadow;
    transition: box-shadow 0.15s ease-out;
  }
  .item-inner {
    display: flex;
    flex-direction: column;
    .main-description {
      display: flex;
      flex-direction: row;
      flex: 1;
      width: 100%;
      margin-bottom: 10px;
      .icon-container {
        display: flex;
        flex-direction: column;
        min-width: 60px;
        max-width: 60px;
        margin-right: 10px;
        img {
          border-radius: 5px;
        }
      }
      .app-description {
        display: flex;
        flex-direction: column;
        width: 75%;
        .item-title {
          font-weight: bold;
        }
        .item-description {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }
    .more-description {
      display: block;
      width: 100%;
      border-top: 1px solid $color-grey-b3b;
      padding-top: 5px;
      .description-item {
        display: block;
        width: 100%;
        .description-title {
          font-size: 12px;
          font-weight: bold;
        }
        ul.categories-list {
          padding: 0;
          margin: 0;
          li.category {
            background-color: $color-grey-ede;
            color: $color-grey-333;
            font-size: 12px;
            list-style: none;
            margin: 2px;
            padding: 2px 9px;
            width: auto;
            display: inline-block;
            border-radius: 10px;
            border: 1px solid $color-white;
            &:hover {
              border: 1px solid $color-grey-555;
              transition: all 300ms ease-in-out;
              cursor: pointer;
            }
          }
        }
        ul.subscription-list {
          padding: 0;
          margin: 0;
          li.item-subscription {
            list-style: none;
            background-color: $color-subscrition;
            color: $color-white;
            font-size: 12px;
            list-style: none;
            margin: 2px;
            padding: 1px 2px 2px 7px;
            width: auto;
            display: inline-block;
            border-radius: 10px;
            &.trial {
              background-color: $color-plan-trial;
              padding: 3px 9px;
            }
            &.professional {
              background-color: $color-plan-professional;
              .plan {
                margin-right: 5px;
              }
              .price {
                @include pricePlan;
              }
            }
            &.premium {
              background-color: $color-plan-premium;
              .plan {
                margin-right: 5px;
              }
              .price {
                @include pricePlan;
              }
            }
            &.starter {
              background-color: $color-plan-starter;
              .plan {
                margin-right: 5px;
              }
              .price {
                @include pricePlan;
              }
            }
            &.plus {
              background-color: $color-plan-plus;
              .plan {
                margin-right: 5px;
              }
              .price {
                @include pricePlan;
              }
            }
            &.enterprise {
              background-color: $color-plan-enterprise;
              .plan {
                margin-right: 5px;
              }
              .price {
                @include pricePlan;
              }
            }
          }
        }
      }
    }
  }
}
